* {
	transition: all .1s ease-in;
	}
body {
	font: 200 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #3399cc;
	color: #fff;
	border: 20px solid #2b81ac;
	margin: 0;
}
div {
	margin: 0 auto;
	max-width: 1024px;
	display: block;
}
header, footer {
	padding: 30px;
}
ul, li {
	display: inline-block;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
ul {
	width: 100%;
	background-color: white;
	text-align:center;
	font-size: 0;
	display: block;
	padding: 0;
}
ul:hover > li { 
	opacity: 0.6;
	cursor: pointer;
}
ul li:hover { 
	opacity: 1;
}
ul li:active { 
	background: white;
}
li {padding: 30px 10px;
	border: 3px solid #fff;
	text-align: center;
	font-size: 16px;
}
p {
	color: rgba(255, 255, 255, 0.6);
	padding: 10px;
}
.lisbon {
	background-color: #3399cc;
	width: 50%;
}
.paris {
	background-color: #33cccc;
	width: 25%;
}
.belgrade {
	background-color: #996699;
	width: 25%;
}
.moscow {
	background-color: #c24747;
	width: 25%;
}
.t_a {
	background-color: #e2674a;
	width: 25%;
}
.cair {
	background-color: #ffcc66;
	width: 25%;
}
.n_a {
	background-color: #99cc99;
	width: 25%;
}
.n_d {
	background-color: #669999;
	width: 25%;
}
.s_f {
	background-color: #cc6699;
	width: 50%;
}
.tokyo {
	background-color: #339966;
	width: 25%;
	}
.sydney {
	background-color: #666699;
	width: 100%;
}


